@{
    ViewBag.Title = "Welcome to SalesBoardSite";
}

<h2>About Us</h2>
<p>
    This is the site where you can effortlessly buy and sell a wide range of items. Whether you’re looking to find great deals or make some extra cash by selling your items,
    you’ve come to the right place. Browse through our diverse categories, discover unique products, and enjoy a seamless buying and selling experience. Join our community today
    and start trading!
</p>
<p>
   
</p>
<p>
   
</p>
